body {
    margin: 0;
    background-color: #0c3f0bc5;
     /*color: #ffa18c;*/
     font-family: "Century Gothic";
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
#dealerArea{
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
}

#playingArea{
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    width: 100vw;
}
#playbuttons{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    font-family: "Impact";
    font-size: 10em;
    padding-top: 100px;
    height: 15vh;
    margin: 0;
    text-align: center;
}
h2{
    padding-top: 50px;
    text-align: center;
}
.container{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
  
}

#playButtons{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}

#start-button{
    background-color: #beb755; 
    border: none;
    color: #ffffff;
    padding: 32px 75px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    border-radius: 5px;
}

#hit-button{
    background-color: #8f8784c5; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 5px;
}

#start-button:hover{
    background-color: #000000; 
    cursor: pointer;
}

#hit-button:hover{
    background-color: #000000; 
    cursor: pointer;
}

#stand-button:hover{
    background-color: #000000; 
    cursor: pointer;
}

#restart-button:hover{
    background-color: #000000; 
    cursor: pointer;
}

#stand-button{
    background-color: #8f8784c5; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 5px;
}

#restart-button{
    background-color: #8f8784c5; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 5px;
}

.hidden{
    opacity: 0;
    
}

.no-display{
    display: none !important;
}

#firstCard{
    height: 290px;
}