<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='hint.min.css') }}"/>
</head>

<body>
    <div id="dealerArea">

    </div>

    <div id="playButtons" class="hidden">

        <button id="hit-button">Hit</button>
        <button id="stand-button">Stand</button>
        <button id="restart-button" class="no-display">Restart</button>
        
    </div>
    <button id="hint-button" class="hint--left hint--rounded" aria-label="Get a hint!" ><img src="/static/bulb-svgrepo-com.svg"></button>
    <div id="playingArea">
        
    </div>
    <script src="/static/index.js"></script>
</body>

</html>