<!DOCTYPE html>
<html>
<body>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        </head>
    

    <button id="start-button">start</button>
    <div id="playingArea">

    </div>

    <script>
        var playerValue = 0;
        var cardIdList = [];
        var cardIdToCard = {
            1: {
                cardName: "2 of Clubs",
                cardValue: 2,
                cardImagePath: "/static/2_of_clubs.png"
            },
            
            2: {
                cardName: "2 of Diamonds",
                cardValue: 2,
                cardImagePath: "/static/2_of_diamonds.png"
            },
            
            3: {
                cardName: "2 of Hearts",
                cardValue: 2,
                cardImagePath: "/static/2_of_hearts.png"
            },
            
            4: {
                cardName: "2 of Spades",
                cardValue: 2,
                cardImagePath: "/static/2_of_spades.png"
            },
            
            5: {
                cardName: "3 of Clubs",
                cardValue: 3,
                cardImagePath: "/static/3_of_clubs.png"
            },
            
            6: {
                cardName: "3 of Diamonds",
                cardValue: 3,
                cardImagePath: "/static/3_of_diamonds.png"
            },
            
            7: {
                cardName: "3 of Hearts",
                cardValue: 3,
                cardImagePath: "/static/3_of_hearts.png"
            },
            
            8: {
                cardName: "3 of Spades",
                cardValue: 3,
                cardImagePath: "/static/3_of_spades.png"
            },
            
            9: {
                cardName: "4 of Clubs",
                cardValue: 4,
                cardImagePath: "/static/4_of_clubs.png"
            },
            
            10: {
                cardName: "4 of Diamonds",
                cardValue: 4,
                cardImagePath: "/static/4_of_diamonds.png"
            },
            
            11: {
                cardName: "4 of Hearts",
                cardValue: 4,
                cardImagePath: "/static/4_of_hearts.png"
            },
            
            12: {
                cardName: "4 of Spades",
                cardValue: 4,
                cardImagePath: "/static/4_of_spades.png"
            },
            
            13: {
                cardName: "5 of Clubs",
                cardValue: 5,
                cardImagePath: "/static/5_of_clubs.png"
            },
            
            14: {
                cardName: "5 of Diamonds",
                cardValue: 5,
                cardImagePath: "/static/5_of_diamonds.png"
            },
            
            15: {
                cardName: "5 of Hearts",
                cardValue: 5,
                cardImagePath: "/static/5_of_Hearts.png"
            },
            
            16: {
                cardName: "5 of Spades",
                cardValue: 5,
                cardImagePath: "/static/5_of_spades.png"
            },
            
            17: {
                cardName: "6 of Clubs",
                cardValue: 6,
                cardImagePath: "/static/6_of_clubs.png"
            },
            
            18: {
                cardName: "6 of Diamonds",
                cardValue: 6,
                cardImagePath: "/static/6_of_diamonds.png"
            },
            
            19: {
                cardName: "6 of Hearts",
                cardValue: 6,
                cardImagePath: "/static/6_of_hearts.png"
            },
            
            20: {
                cardName: "6 of Spades",
                cardValue: 6,
                cardImagePath: "/static/6_of_spades.png"
            },
            
            21: {
                cardName: "7 of Clubs",
                cardValue: 7,
                cardImagePath: "/static/7_of_clubs.png"
            },
            
            22: {
                cardName: "7 of Diamonds",
                cardValue: 7,
                cardImagePath: "/static/7_of_diamonds.png"
            },
            
            23: {
                cardName: "7 of Hearts",
                cardValue: 7,
                cardImagePath: "/static/7_of_hearts.png"
            },
            
            24: {
                cardName: "7 of Spades",
                cardValue: 7,
                cardImagePath: "/static/2_of_spades.png"
            },
                   
            25: {
                cardName: "8 of Clubs",
                cardValue: 8,
                cardImagePath: "/static/8_of_clubs.png"
            },
                   
            26: {
                cardName: "8 of Diamonds",
                cardValue: 8,
                cardImagePath: "/static/8_of_diaonds.png"
            },
                   
            27: {
                cardName: "8 of Hearts",
                cardValue: 8,
                cardImagePath: "/static/8_of_hearts.png"
            },
                   
            28: {
                cardName: "8 of Spades",
                cardValue: 8,
                cardImagePath: "/static/8_of_spades.png"
            },
                   
            29: {
                cardName: "9 of Clubs",
                cardValue: 9,
                cardImagePath: "/static/9_of_clubs.png"
            },
                   
            30: {
                cardName: "9 of Diamonds",
                cardValue: 9,
                cardImagePath: "/static/9_of_diamonds.png"
            },
                   
            31: {
                cardName: "9 of Hearts",
                cardValue: 9,
                cardImagePath: "/static/9_of_hearts.png"
            },
                   
            32: {
                cardName: "9 of Spades",
                cardValue: 9,
                cardImagePath: "/static/9_of_spades.png"
            },
                   
            33: {
                cardName: "10 of Clubs",
                cardValue: 10,
                cardImagePath: "/static/10_of_clubs.png"
            },
                   
            34: {
                cardName: "10 of Diamonds",
                cardValue: 10,
                cardImagePath: "/static/10_of_diamonds.png"
            },
                   
            35: {
                cardName: "10 of Hearts",
                cardValue: 10,
                cardImagePath: "/static/10_of_hearts.png"
            },
                   
            36: {
                cardName: "10 of Spades",
                cardValue: 10,
                cardImagePath: "/static/10_of_spades.png"
            },
                   
            37: {
                cardName: "Ace of Clubs",
                cardValue: 11,
                cardImagePath: "/static/ace_of_clubs.png"
            },
                   
            38: {
                cardName: "Ace of Diamonds",
                cardValue: 11,
                cardImagePath: "/static/ace_of_diamonds.png"
            },
                   
            39: {
                cardName: "Ace of Hearts",
                cardValue: 11,
                cardImagePath: "/static/ace_of_hearts.png"
            },
                   
            40: {
                cardName: "Ace of Spades",
                cardValue: 11,
                cardImagePath: "/static/ace_of_spades.png"
            },
                   
            41: {
                cardName: "Jack of Clubs",
                cardValue: 10,
                cardImagePath: "/static/jack_of_clubs.png"
            },
                   
            42: {
                cardName: "Jack of Diamonds",
                cardValue: 10,
                cardImagePath: "/static/jack_of_diamonds.png"
            },
                   
            43: {
                cardName: "Jack of Hearts",
                cardValue: 10,
                cardImagePath: "/static/jack_of_hearts.png"
            },
                   
            44: {
                cardName: "Jack of Spades",
                cardValue: 10,
                cardImagePath: "/static/jack_of_spades.png"
            },
                   
            45: {
                cardName: "King of Clubs",
                cardValue: 10,
                cardImagePath: "/static/king_of_clubs.png"
            },
                   
            46: {
                cardName: "King of Diamonds",
                cardValue: 10,
                cardImagePath: "/static/king_of_diamonds.png"
            },
                   
            47: {
                cardName: "King of Hearts",
                cardValue: 10,
                cardImagePath: "/static/king_of_hearts.png"
            },
                   
            48: {
                cardName: "King of Spades",
                cardValue: 10,
                cardImagePath: "/static/king_of_spades.png"
            },
                   
            49: {
                cardName: "Queen of Clubs",
                cardValue: 10,
                cardImagePath: "/static/queen_of_clubs.png"
            },
                   
            50: {
                cardName: "Queen of Diamonds",
                cardValue: 10,
                cardImagePath: "/static/queen_of_diamonds.png"
            },
                   
            51: {
                cardName: "Queen of Heats",
                cardValue: 10,
                cardImagePath: "/static/queen_of_hearts.png"
            },
                   
            52: {
                cardName: "Queen of Spades",
                cardValue: 10,
                cardImagePath: "/static/queen_of_spades.png"
            }
        }


        document.getElementById("start-button").addEventListener('click', function() {
            initializeGame();
        });

        function initializeGame() {
            playerValue = 0;
            const newCard = document.createElement("img");
            newCard.src = cardIdToCard[1].cardImagePath
            newCard.width = 200
            const playingArea = document.getElementById("playingArea");
            playingArea.appendChild(newCard);
        }
    </script>
</body>
</html>